[Unit]
Description=MongoDB Database Server
After=network.target
Documentation=https://docs.mongodb.org/manual

[Service]
Type=forking
User=mongod
Group=mongod
LimitNOFILE=64000
LimitNPROC=64000
Environment="OPTIONS=-f /apps/mongodb/30000/conf/mongos.yml"
PIDFile=/apps/mongodb/30000/log/mongos.pid
ExecStart=/apps/mongodb/bin/mongos $OPTIONS
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
