[Unit]
Description=Redis Server
After=network.target
Documentation=https://redis.io/documentation

[Service]
Type=forking
User=redis
Group=redis
Environment="OPTIONS=/apps/redis/%i/conf/redis.conf"
ExecStart=/apps/redis/bin/redis-server $OPTIONS
ExecStop=/apps/redis/bin/redis-cli -p %i shutdown
Restart=always

[Install]
WantedBy=multi-user.target
